<!DOCTYPE html>
<html>
<head>
    <title>Complaints</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h3>Complaint List</h3>

    <table class="table table-bordered">
        <tr>
            <th>No</th>
            <th>Client</th>
            <th>Product</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for c in complaints %}
        <tr>
            <td>{{ c.complaint_no }}</td>
            <td>{{ c.client }}</td>
            <td>{{ c.product }}</td>
            <td>{{ c.get_status_display }}</td>
            <td>
                <a
                  href="{% url 'assign_complaint' c.id %}"
                  class="btn btn-sm btn-success"
                >
                  Assign
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
